<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Anlagegüter {{year}}</title>
</head>
<body>
<h1>Anlagegüter {{year}}</h1>
<table>
    <thead>
    <tr>
        <td>Anlage</td>
        <td>Abschreibungsdatum</td>
        <td>Abschreibung</td>
        <td>Restwert</td>
    </tr>
    </thead>
    {{#each this.asset_information}}
        <tr>
            <td>{{this.description}}</td>
            <td>{{this.depreciationDate}}</td>
            <td>{{this.depreciationCost}}€</td>
            <td>{{this.bookValue}}€</td>
        </tr>
    {{/each}}
</table>
{{#each this.available_years}}
    <a href="/assets/{{this}}">{{this}}</a>
{{/each}}

</body>
</html>
